<div class="w-full flex justify-center gap-28 p-24">
  <div>
    <img src="../../../assets/logoMVP.png" class="w-24">
  </div>
  <div class="flex gap-7">
    <div>
      <a href="/tela-compra" class="font-medium">Loja</a>
      <ul>
        <li>teste 1</li>
        <li> teste 2</li>
        <li>teste 3</li>
        <li>teste 4</li>
      </ul>

    </div>
    <div>
      <a href class="font-medium">Categorias</a>
    </div>
    <div>
      <a href class="font-medium">Sobre</a>
    </div>
    <div>
      <a href class="font-medium">Suporte</a>
    </div>
    <div>
      <a href class="font-medium">Produtos</a>
    </div>
    <div>
      <a href class="font-medium">Contato</a>
    </div>
  </div>
</div>