<div class="w-full flex justify-center gap-28 p-24">
  <div>
    <img src="../../../assets/logoMVP.png" class="w-24">
  </div>
  <div class="flex gap-7">
    <div>
      <a routerLink="/tela-compra" class="font-medium">Loja</a>
      <div>
        <a routerLink="/produtos" class="font-medium">Categorias</a>
      </div>
      <div>
        <a href class="font-medium">Sobre</a>
      </div>
      <div>
        <a href class="font-medium">Suporte</a>
      </div>
      <div>
        <a href class="font-medium">Produtos</a>
      </div>
      <div>
        <a href class="font-medium">Contato</a>
      </div>
    </div>
  </div>
