<div class="max-w-full mx-auto h-full">
  <div class="w-full container mx-auto flex md:flex-row flex-col items-center justify-between">
    <a href><img src="../../../assets/logoMVP.png" class="max-w-24 h-full"
        alt></a>
    <div class="flex gap-3">
      <a href class="hover:font-semibold duration-150">Loja</a>
      <a href class="hover:font-semibold duration-150">Categorias</a>
      <a href class="hover:font-semibold duration-150">Sobre</a>
      <a href class="hover:font-semibold duration-150">Suporte</a>
      <a href="/produtos" class="hover:font-semibold duration-150">Produtos</a>
      <a href class="hover:font-semibold duration-150">Contato</a>
    </div>
    <div class="flex gap-4 text-2xl">
     <!-- <i class='bx bx-search-alt-2 cursor-pointer' id="searchBtn"></i> -->
      <i class='bx bx-shopping-bag cursor-pointer' id="carrinho"></i>
    </div>
  </div>
</div>
