<div class="w-full container mx-auto">
  <app-navbar></app-navbar>
  <div class="flex justify-center h-[80vh] items-center w-full">
    <div class="w-1/2">
      <h1 class="text-4xl font-semibold">Não sabe quando receberá seu pedido?</h1>
      <h2 class="text-xl font-semibold">Insira os dados para calcular o prazo e o preço do frete.</h2>
    </div>
    <div class="w-1/2">
      <form class="flex flex-col">
        <span>CEP</span>
        <input type="text" name="cep" placeholder="Insira seu CEP">4
        <a href="">Não sei meu CEP</a>
      </form>
    </div>
  </div>
</div>
