<div class="w-full container mx-auto">
  <h2 class="text-3xl font-bold">Conheça nosso estoque de Camisas
    Retrô.</h2>
  <h2 class="mb-8 text-3xl font-bold text-cinza">Reviva momentos históricos</h2>
  <div class="flex flex-col gap-10 pb-8">
    <div class="flex gap-10">
      <div
        class="rounded-xl w-1/2 group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
        <div class="h-96 w-full">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="../../../assets/image 1.png"
            alt />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70"></div>
        <div
          class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 pb-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white">Verderones</h1>
          <p
            class="mb-3 text-lg text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Camisa
            Retrô Real Betis Temp 95/96</p>
          <button
            class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
            Produto</button>
        </div>
      </div>
      <div
        class="rounded-xl w-1/2 group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
        <div class="h-96 w-full">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="../../../assets/image 10.png"
            alt />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70"></div>
        <div
          class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 pb-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white">Retro
            Devils</h1>
          <p
            class="mb-3 text-lg text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Camisa
            Retrô Manchester United Temp 95/96</p>
          <button
            class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
            Produto</button>
        </div>
      </div>
    </div>
    <div class="w-[95%] mx-auto">
      <div
        class="rounded-xl w-full group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
        <div class="h-96 w-full">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="../../../assets/image 9.png"
            alt />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70"></div>
        <div
          class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 pb-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white">Retro
            Nations</h1>
          <p
            class="mb-3 text-lg text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Camisas
            Retrô Comemorativas Adidas</p>
          <button
            class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
            Produtos</button>
        </div>
      </div>
    </div>
  </div>
</div>